{% extends "base.html" %}
{% load static %}

{% block title %}{{ image.title }}{% endblock %}
{% block content %}
    <h1>{{ image.title }}</h1>
    {# once load this, looks for templatetags/thumbnail.py in thunbnail app #}
    {% load thumbnail %}
    <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 300x0 %}" class="image-detail">
    </a>
    {% with total_likes=image.users_like.count %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    like{{ total_likes|pluralize }}
                </span>
                {# ? any attribute on any HTML element with a name that starts with data is a data attribute #}
                <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
                   class="like button">
                    {% if request.user in users_like %}
                        unlike
                    {% else %}
                        Like
                    {% endif %}
                </a>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in users_like %}
                <div>
                    {% if user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}">
                    {% endif %}
                    <p>{{ user.first_name }}</p>
                </div>
                {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}

{% endblock %}

{% block domready %}
    import { like_request } from "{% static 'js/like_request.js' %}";
    const csrftoken = Cookies.get('csrftoken');
    const likeUrl = "{% url 'images:like' %}"
    document.addEventListener("DOMContentLoaded", () => {
        like_request(csrftoken, likeUrl);
    });
{% endblock %}